{{- $entry := (.Get 0) -}}

<!-- range over data file -->
{{- range $.Site.Data.termbase -}}

    <!-- Find matches -->
    {{- if eq ( .abbr | lower) ( $entry | lower ) -}}
        <a href="/docs/reference/glossary/#{{ .term | urlize }}">
            <abbr title="{{ .term | plainify }}">{{ .abbr }}</abbr>
        </a>
    {{- else if eq ( .term | lower) ( $entry | lower ) -}}
        <a href="/docs/reference/glossary/#{{ .term | urlize }}">
            <abbr title="{{ .term | plainify }}">{{ $entry }}</abbr>
        </a>
    {{- end -}}
{{- end -}}
